@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'reset.css';

html {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.85em
}

header {
  padding: 10px;
}
header {
  color: #053b50;
}
main h2 {
  color: #053b50;
}

hero #img-principal {
  width: 100%;
}

main {
  padding: 0 15px;
}

main section {
  margin-bottom: 20px
}

main #sessao-sobre-mim h2 {
  margin-bottom: 10px
}


main #sessao-meu-tabalho h2 {
   margin-bottom: 10px
}

main #sessao-meu-tabalho div {
  display: flex;
  line-height: 18px;
}

main #sessao-meu-tabalho div img {
  width: 30%;
}
main #designs-esportivos h2 {
  margin-bottom: 10px;

}
main #designs-esportivos div {
  display: flex;
  gap: 10px
  
}

main #designs-esportivos div img {
  width: 31%;
  border: 1px #053b50 solid ;
}

main #contato h2 {
  margin-bottom: 40px;
}
main #contato div{
  display: flex;
  justify-content: center;

}
main #contato div div{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 30px;
}

.icone-contato {
  width: 32px;
  height: 32px;
}

main #marca-registrada {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}