@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swaperel=stylesheet);
@import 'reset.css';

html {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #3d3b40;
}

::-webkit-scrollbar-thumb {
  background: #525CEB;
  border-radius: 5px; 
}

h1{
  font-weight: 900;
  font-size: 60px;
  line-height: 55px;
}

h2{
  line-height: 23px;
  color: #F8EDFF;
 font-weight: 700;
 font-size: 20px;
}

h3{
  font-size: 18px;
  line-height: 22px;
  color: #F8EDFF;
}

h4{
 font-weight: 800;
 font-size: 36px;
}

h5{
  font-weight: 800;
  font-size: 20px;
}

h6{
  font-size: 18px;
  line-height: 22px;
  color: #F8EDFF;
}

header{
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3d3b40;
}

.header-content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
.links-container {
  display: flex;
  column-gap: 15px;
}

.links-container a {
  text-decoration: none;
  color: #b8b8b8;
}
body{
  background-color: #3d3b40;
  
}

main {
  width: 90%;
  margin: 0 auto;
}

#hero {
  width: 100%;
  background-image: url("assets/fundo-portfolio.png");
  background-size: cover ;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-hero {
  width: 90%;
  height: 57%;
}

.botao-conversa {
  background: #525CEB;
  border: none;
  color: #b8b8b8;
  padding: 16px 28px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 70px;
}

.botao-conversa:hover {
  transform: scale(1.05);
}

.content-hero h3 {
  margin-bottom: 20px;
  margin-top: 12px;
}

.box-sobre-mim {
  margin-top: -10px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 92, 235);
  box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.3);
}

#conteudo {
  margin: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conteudo h4 {
  margin-bottom: 24px;
}

#ferramentas {
  width: 64px;
  height: 64px;
  margin-top: 32px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#ferramentas img {
  width: 64px;
  height: 64px;
}

#projects {
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
#projects h1 {
  line-height: 30px;
}

#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.project-card {
  width: 100%;
  border: 2px solid #525CEB;
  border-radius: 24px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  transition: transform 1s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  font-size: 18px;
}

.project-card img {
  border-radius: 20px;
  width: 88%;
}

.project-card a {
  border-radius: 70px;
  background-color: #fff;
  padding: 8px 32px;
  color:#000;
  text-decoration: none;
}


#contact {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
#contact-icons { 
  margin-top: 16px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.icone-contato {
  display: flex;
  justify-content: center;
  width: 56px;
  height: 56px;
}

.gradient-title {
  background: radial-gradient(circle, #fff, #BFCFE7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#marca-registrada {
  padding: 40px;
  display: flex;
  justify-content: center;
}